:root {
    /* Font colors */
    --font-color: #aaa;
    --font-color-disable: #606060;
    --font-color-secondary: #888;
    --link-color: #ddd;
    --link-color-active: #fff;
    --modal-font-color: #fff;

    /* Background colors */
    --body-bg: #272b30;

    --app-bg: #1f2124;
    --group-bg: #272b30;

    --titlebar-bg: #3a3f44;
    --alert-bg: #f89406;

    --widget-bg: #32383e;
    --widget-bg-disable: #232628;

    --menubar-bg: #3a3f44;
    --menubar-bg-hover: #3e444c;
    --menubar-bg-active: #232628;

    --modal-overlay-bg: rgba(0, 0, 0, 0.5);
    --modal-dialog-bg: #32383e;

    --menubar-overlay-bg: rgba(0, 0, 0, 0.3);

    --gauge-meter-bg: #444;

    /* Dimensions */
    --widget-min-height: 65px;
    --widget-min-width: 100px;

}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font-color);
    text-align: left;
    background-color: var(--body-bg);
}

html, body {
    max-width: 100% !important;
    min-height: 100%;
    overflow-x: hidden !important;
}

#app {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    overflow-y: scroll;
    overflow-x: hidden !important;
    background-color: var(--app-bg);
}

a {
    color: var(--link-color);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--link-color-active);
}

.d-none {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.box {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}


/* TitleBar */
:root {
    --titlebar-z-index: 94;
    --titlebar-height: 45px;
}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--titlebar-height);
    width: 100vw;
    z-index: var(--titlebar-z-index);
    overflow: hidden;
    background-color: var(--titlebar-bg);
    opacity: 1;
}

.titlebar-icon {
    position: absolute;
    top: 0;
    width: calc(var(--titlebar-height) - 2px);
    height: calc(var(--titlebar-height) - 2px);
    padding-left: 3px;
}

.titlebar-toggle-menubar {
    font-size: calc(var(--titlebar-height) - 2px);
    float: right !important;
    padding-right: 3px;
}

.titlebar-title {
    font-size: 2em;
    padding-left: var(--titlebar-height);
}


/* MenuBar */
:root {
    --menubar-width: 175px;
    --menubar-z-index: 96;
}

.menubar {
    position: fixed;
    top: var(--titlebar-height);
    left: 100vw;
    height: 100vh;
    width: var(--menubar-width);
    z-index: var(--menubar-z-index);
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: .3s;
    background-color: var(--menubar-bg);
}

.menubar-show {
    left: calc(100vw - var(--menubar-width));
}

.menubar-overlay {
    position: fixed;
    top: var(--titlebar-height);
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: calc(var(--menubar-z-index) - 1);
    background-color: var(--menubar-overlay-bg);
}


.menubar .material-icons {
    font-size: 1em;
}

.menubar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.menubar li a {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-decoration: none;
    background-color: var(--menubar-bg);
}

.menubar li:hover a {
    color: var(--link-color-active);
    background-color: var(--menubar-bg-hover);
    cursor: pointer;
}

.menubar li:active a {
    background-color: var(--menubar-bg-active);
}

.menubar-link.active {
    background-color: var(--menubar-bg-active);
}

.menubar-version {
    margin: 10px;
}


/* Modal */
:root {
    --modal-z-index: 98;
}

#modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-overlay-bg); /* Black background with opacity */
    z-index: var(--modal-z-index)
}

#modal-close:hover{
    cursor: pointer;
}

#modal > div {
    position: relative;
    padding: 2px;
    margin: 2px;
    max-width: 450px;
    color: var(--modal-font-color);
    background-color: var(--modal-dialog-bg);
}

#modal > div > div {
    position: relative;
    padding: 15px;
    margin: 15px;
}

#modal-message {
    font-size: 2em;
}

#modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch
}

#modal-buttons > div {
    position: relative;
    font-size: 2.5em;
    flex-grow: 1;
    justify-content: space-between;
}

#modal-buttons  button {
    width: 100%;
}


/* Panel */
.panel {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    /* margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 10px; */
}


/* Group */
.group {
    flex-grow: 1;
    position: relative;
    max-width: 576px;
    vertical-align: top;
    margin: 2px;
    background-color: var(--group-bg);
}

.group .title {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}


/* Widget base */
.widget {
    display: inline-block;
    flex-basis: 90px;
    flex-grow: 1;
    position: relative;
    vertical-align: top;
    min-height: var(--widget-min-height);
    min-width: var(--widget-min-width);
    background-color: var(--widget-bg);
    margin: 2px;
    padding: 1px;
    overflow: hidden;
}

.widget .title {
    white-space: nowrap;
    /* text-overflow: clip; *//* ellipsis; */
}

.widget-disable,.widget-press {
    color: var(--font-color-disable) !important;
    background-color: var(--widget-bg-disable);
    cursor: not-allowed;
}

.last-update {
    position: absolute;
    bottom: 0;
    right: 0.5em;
    font-size: 9px;
    color: var(--font-color-secondary);
}

.widget-text {
    max-width: 240px;
}

.widget-text .text {
    overflow: hidden;
    margin-left: 3px;
}

.widget-light {
    max-width: 120px;
}

.widget-light .value {
    margin-left: 3px;
}

.widget-button {
    max-width: 120px;
}

.widget-button .value {
    margin-left: 3px;
}

.widget-switch {
    max-width: 120px;
}

.widget-switch .value {
    margin-left: 3px;
}

.widget-switch,.widget-button {
    max-height: 90px;
}

.widget-switch:hover,.widget-button:hover {
    cursor: pointer;
}

.widget-gauge {
    max-width: 120px;
}

.widget-gauge .text {
    z-index: 10;
    margin-left: 3px;
}

.widget-gauge .value {
    position: absolute;
    top: 15px;
    right: 33px;
}

.widget-gauge .meter {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 22px;
    margin: 2px;
    height: calc(var(--widget-min-height) - 20px);
    border-style: solid;
    border-width: 1px;
    border-color: var(--widget-bg-disable);
    background: var(--gauge-meter-bg);
}

.widget-gauge .meter > span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Widget - select */
.widget-select {
    /* min-width: 90px; */
    max-width: 120px;
}

.widget-select .value {
    margin-left: 3px;
}

/* Widget - image */
.widget-image .image {
    overflow: hidden;
    max-width: 99vw;
}

/* Widget - dropdown */
/*
.widget-dropdown {
    max-width: 180px;
}

.widget-dropdown .value {
    margin-left: 3px;
}
*/
