:root {
  --screen-overlay-z-index: 100;
}

#screen-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: calc(var(--screen-overlay-z-index) - 1);
    cursor: pointer;
}

#screen-overlay .alert {
  /* fixed-top */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--screen-overlay-z-index);

  /* alert */
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  color: #fff;

  /* bg-warning */
  background-color: var(--alert-bg) !important;

  /* text center */
  text-align: center !important;
}

#screen-overlay .spinner {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: screen_overlay_spinner 2s linear infinite; /* Safari */
  animation: screen_overlay_spinner 2s linear infinite;
}

/* Safari */
@-webkit-keyframes screen_overlay_spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes screen_overlay_spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
